In [1]:
import pandas as pd

# TEOTIL2-3 data for Oslofjorden

Read combined, bias-corrected TEOTIL2 and TEOTIL3 data for vassdragsområder around Oslofjord.

Based on the workflow used for TEOTIL3 annual reporting.

In [2]:
st_yr, end_yr = 1990, 2023
agri_loss_model = "annual"
vassoms = list(range(1, 18))

In [3]:
csv_path = f"/home/jovyan/projects/teotil3_reporting/report_data/{end_yr}/teotil2-3_vassom_npc_{st_yr}-{end_yr}_agri-{agri_loss_model}-loss_bias-corrected.csv"
df = pd.read_csv(csv_path).query("Vassom in @vassoms")
df.to_excel(
    f"../data/oslofjord_summary/teotil2-3_001-017_{st_yr}-{end_yr}.xlsx",
    index=False,
    sheet_name="Tonn",
)

df.head()

,Par,Vassom,År,Akvakultur,Jordbruk,Avløp,Industri,Bakgrunn,Menneskeskapt,Totalt
0,c,1,2013,0.0,6.878350,222.271973,444.0,7282.517488,736.242308,7955.667811
1,c,1,2014,0.0,8.548773,247.727242,553.6,10863.628252,904.016980,11673.504267
2,c,1,2015,0.0,7.116521,228.865176,543.6,9976.491419,866.025435,10756.073116
3,c,1,2016,0.0,6.384449,349.106864,411.0,6097.941558,819.342745,6864.432872
4,c,1,2017,0.0,6.973412,346.065040,877.6,5672.312998,1279.794596,6902.951450